﻿/* GridViewCSS border*/
.gvBorder
{
	margin-top: 5px;
	border: solid 1px gray;
}

/* GridViewCSS Style */
.GridViewStyle
{
	border: none;
	border: 0px solid #CCC;
}

/* Button Style */
.GridViewStyle input.gvbutton
{
	background: #fff;
	padding: 2px;
	font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	font-variant: small-caps;
	border: 1px solid #aaa;
	cursor: hand;
}




/* Header styles */
.HeaderStyle, .PagerStyle /*Common Styles*/
{
	border: 0px solid #CCC;
	border-collapse: collapse;
	font: small/1.3 "Tahoma" , "Bitstream Vera Sans" , Verdana, Helvetica, sans-serif;
}
.HeaderStyle th
{
    background: #415D8D;
	color: #FFFFFF;
	padding: 5px 5px;
	border-left: 0px solid #CCC;
}

/* Pager styles */
.PagerStyle table
{
	text-align: center;
	margin: auto;
	height: 5px;
}
.PagerStyle table td
{
	border: 0px;
	padding: 4px;
}
.PagerStyle td
{
	text-align: left;
	font-size: small;
}
.PagerStyle a
{
	border: #c0c0c0 1px solid;
	text-align: center;
	padding: 3px 7px;
	margin: 2px;
	color: #0066cc;
	text-decoration: none;
	font-size: small;
}
.PagerStyle span
{
	margin-top: 4px;
	color: red;
	font-weight: bold;
	font-size: small;
}
.lvTable
{
	background-color: #FFFFFF;
}


/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td, .TitleRowStyle td, .GroupSumRowStyle td, .TotalSUMRowStyle td /*Common Styles*/
{
    border: 0px solid #CCC;
    border-collapse: collapse;
    font: small/1.3 "Tahoma" , "Bitstream Vera Sans" , Verdana, Helvetica, sans-serif;
    padding: 2px 5px;
    color: #666;
}

.RowStyle td
{
    background-color: white;
}
.AltRowStyle td
{
    background-color: LightBlue;
}
.SelectedRowStyle td
{
    background-color: #FF9;
}


.TitleRowStyle td
{
    background-color: #73FFBB;
}

.GroupSumRowStyle td
{
    background-color: #00FA80;
}


.TotalSUMRowStyle td
{
    background-color: #00A052;
}

/*
gv頁碼用
*/
.pageclass
{
	background-color:red;
	display: none;
}



