﻿/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

.lvTable table
{
	border: none;
	border: 0px solid #CCC;
}

.lvTable thead td, .lvTable tbody td
{
	border: 1px solid #CCC;
	border-collapse: collapse;
	font: small/1.3 "Tahoma" , "Bitstream Vera Sans" , Verdana, Helvetica, sans-serif;
}
.lvTable thead th, .lvTable tbody th
{
	background: lightBlue;
	color: #666;
	padding: 5px 5px;
	border-left: 1px solid #CCC;
}
.lvTable tbody th
{
	background: #fafafb;
	border-top: 1px solid #CCC;
	text-align: center;
	font-weight: normal;
}

.lvTable tbody tr td
{
	padding: 5px 10px;
	color: #666;
}
.lvTable tbody tr:hover
{
	background: #FFF url(../image/tr_bck.gif) repeat;
}

.lvTable tbody tr:hover td
{
	color: #004EA0;
	cursor: hand;
}
.lvTable tfoot td, .lvTable tfoot th
{
	border-left: none;
	border-top: 1px solid #CCC;
	text-align: center;
	padding: 7px;
	background: #F2F5F8;
	color: #666;
}
caption
{
	text-align: left;
	font-size: 100%;
	padding: 10px 0;
	color: #666;
}
table a:link
{
	color: #666;
}
table a:visited
{
	color: #666;
}
table a:hover
{
	color: #003366;
	text-decoration: none;
}
table a:active
{
	color: #003366;
}

input.gvbutton
{
	background: #fff;
	padding: 2px;
	font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
	font-size: small;
	font-variant: small-caps;
	border: 1px solid #aaa;
	cursor: hand;
}

input.cssbutton
{
	background: #fff;
	padding: 2px;
	font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
	font-size: small;
	font-variant: normal;
	border: 1px solid #aaa;
	cursor: hand;
}
input.cssbutton2
{
    min-height:50px;
    height:auto;
    word-wrap:break-word;
}
input.verifybutton
{
	background: #ccff99;
	padding: 2px;
	font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-variant: small-caps;
	border: 1px solid #aaa;
	cursor: hand;
	height: 50px;
	color: Black;
}

input.verifybutton1
{
	background: #fff;
	padding: 2px;
	font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-variant: small-caps;
	border: 1px solid #aaa;
	cursor: hand;
	height: 50px;
}

input.verifybutton2
{
	background: #B4B4B4;
	padding: 2px;
	font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-variant: small-caps;
	border: 1px solid #aaa;
	cursor: hand;
	height: 50px;
}

.Pager
{
	text-align: left;
	padding: 3px;
	margin: 8px 3px;
	font-size: small;
}

.Pager a
{
	border: #c0c0c0 1px solid;
	text-align: center;
	padding: 3px 7px;
	margin: 2px;
	color: #0066cc;
	text-decoration: none;
}

.Pager .Current
{
	margin-top: 4px;
	color: red;
	font-weight: bold;
}

